# Mentotalkan bilangan pada dua array

In [ ]:
import numpy as np

In [ ]:
a = [1,2,3]
b = [4,5,6]
hasil = a + b
print(sum(hasil))

21

# Memunculkan bilangan ke n dari suatu array

In [ ]:
nilai_siswa = np.array([85,55,40,90])
print(nilai_siswa[3])

90

# Input dan Print Data

In [ ]:
nama = input("Masukkan nama kamu: ")
nim = input("Masukkan nim kamu: ")


print("\nHallo, World!")
print("Nama saya " + nama)
print("NIM saya " + nim)

Masukkan nama kamu: kafka
Masukkan nim kamu: 2934


Hallo, World!
Nama saya kafka
NIM saya 2934

# Mencari size(jumlah) dari suatu array

In [ ]:
def getlast2(list):
    size = len(list)
    print(f"Size: {size}")
    return list[size-1]

In [ ]:
getlast2([1,2,3,4,5,6])

Size: 6

6

# Menjumlahkan dua himpunan angka

In [12]:
def totallist(list1, list2):
  total = 0
  for i in list1:
    total += i
  for i in list2:
    total += i
    return total

In [13]:
a = [1,2,3]
b = [4,5,6]

In [14]:
result = totallist(a, b)
print(result)

10

# Mengkalikan semua bilangan di dalam suatu himpunan

In [ ]:
def getKali(myList):
    perkalian = 1
    for item in myList:
      perkalian *= item
    return perkalian

In [ ]:
getKali([1,3,5,7])

105

# Membagi semua bilangan di dalam suatu himpunan

In [ ]:
def getBagi(myList):
    pembagian = myList[0]
    for item in myList[1:]:
        pembagian /= item
    return pembagian

In [ ]:
getBagi([60, 2, 3, 5])

2.0

# Membagi dua himpunan angka

In [ ]:
def getBagi(myList):
    pembagian = myList[0]
    for item in myList[1:]:
        pembagian /= item
    return pembagian

def Hitung(list1, list2):
    result1 = getBagi(list1)
    result2 = getBagi(list2)
    final = result1 / result2
    return final

In [ ]:
list1 = [60, 3, 2]
list2 = [5, 1]
hasil = Hitung(list1, list2)
print(hasil)

2.0

# Mengurangi dua himpunan angka

In [ ]:
def getKurang(myList):
    pengurangan = myList[0]
    for item in myList[1:]:
        pengurangan -= item
    return pengurangan

def hitung(list1, list2):
    result1 = getKurang(list1)
    result2 = getKurang(list2)
    final = result1 - result2
    return final

In [ ]:
list1 = [20, 2, 3]
list2 = [5, 1, 1]
hasil = hitung(list1, list2)
print(hasil)

12